<div class="big-container product-manage-wrapper flexed-item">

  <form method="post" action="/products/product-edit/{{product._id}}" class="edit-product-form">

    <h3 class="form-title"> Edit Sneaker</h3>
    <div class="form-item-wrapper flexed-item">
      <label for="sneaker-name" class="label-name label">Model name</label>
      <input id="sneaker-name" type="text" class="input-text input" placeholder="Nike Air Max 90" value="{{product.name}}" name="name">
    </div>

    <div class="form-item-wrapper flexed-item">
      <label for="sneaker-ref" class="label-ref label">Réf.</label>
      <input id="sneaker-ref" type="text" class="input-text input" placeholder="ex: NV23498" value="{{product.ref}}" name="ref">
    </div>

    <div class="form-item-wrapper flexed-item">
      <label for="sneaker-size" class="label-ref label">Size</label>
      <input id="sneaker-size" type="number" class="input-text input" placeholder="ex: 37" min="16" max="46" value="{{product.sizes}}"  name="sizes">
    </div>

    <div class="form-item-wrapper flexed-item">
      <label for="sneaker-descr" class="label-descr label">Description</label>
      <input id="sneaker-descr" type="text" class="input-text input" placeholder="The better sneakers to run" value="{{product.description}}" name="description">
    </div>

    <div class="form-item-wrapper flexed-item">
      <label for="sneaker-price" class="label-price label">Price</label>
      <input id="sneaker-price" type="number" class="sneaker-price input" min="1" value="{{product.price}}" name="price">
    </div>

    <div class="form-item-wrapper flexed-item">
      <label for="sneaker-main-cat" class="label-main-cat label">Main category</label>
      <select id="sneaker-main-cat" class="select" name="category">
        {{!-- <option value="-1" disabled>{{product.category}}</option> --}}
        <option value="men" {{#if testMen}} selected {{/if}}>Men</option>
        <option value="women" {{#if testWomen}} selected {{/if}}>Women</option>
        <option value="kids" {{#if testKids}} selected {{/if}}>Kids</option>
      </select>
    </div>

    <div class="form-item-wrapper flexed-item">
      <label class="label">Tags</label>
      {{> form_tags_select}}
    </div>

    <button class="button-primary add-sneaker-btn">Edit this sneaker</button>
  </form>
</div>